body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Playwrite DK Loopet', cursive;
    font-size: 2.5em;
    color: #333;
    margin: 0 0 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    font-size: large;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    flex-grow: 1;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.image-container {
    flex: 1;
    padding-right: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

.text-container {
    flex: 2;
    font-size: 1.5em;
    margin-left: 15%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-top: 0;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-container {
        padding-right: 0;
        padding-bottom: 20px;
    }
}
